.mail,
.mail__container {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Open Sans";
    min-height: 480px;
    z-index: 40;
}

.mail__container {
    padding-left: 100px;
}

.mail__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 32px;
}