.mail-section,
.container__mail {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Open Sans";
    min-height: 480px;
    z-index: 40;
}

.container__mail {
    padding-left: 100px;
}

.mail__taitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 64px;
}