.menu__items {
    display: flex;
    width: 497px;
    justify-content: space-between;
}

.menu__link {
    color: $white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    border-bottom: 1px solid transparent;
    transition: $transition;
    text-decoration: none;
    &:hover,
    &:active {
        color: $active;
        border-bottom-color: $active;
    }
}