.menu__items {
    display: flex;
    width: 497px;
    justify-content: space-between;
}

.menu__link {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    &:hover,
    &:active {
        color: #ff9a00;
        text-decoration: underline;
    }
}