.general-information {
    position: relative;
}

.paralax__autumn,
.paralax__shadow2 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
}

.paralax__sheet1,
.paralax__sheet2,
.paralax__sheet3,
.paralax__sheet4 {
    position: absolute;
}

.paralax__sheet1 {
    top: 72%;
    right: 7%;
}

.paralax__sheet2 {
    top: 33%;
    right: 20%;
}

.paralax__sheet3 {
    top: 51%;
    right: 11%;
}

.paralax__sheet4 {
    top: -13%;
    right: -14%;
}