.welcome-section {
    position: relative;
}

.parallax {
    height: 100%;
}

.paralax__mountains,
.paralax__train,
.paralax__grass,
.paralax__shadow,
.paralax__black {
    position: absolute;
    width: 100%;
    height: auto;
}

.paralax__mountains {
    top: 0;
}

.paralax__train {
    top: 28%;
    z-index: 2;
}

.paralax__grass {
    top: 53%;
    z-index: 2;
}

.paralax__shadow {
    top: 40%;
    z-index: 2;
}

.paralax__black {
    top: 82%;
    z-index: 2;
}