.skills-row__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 24px;
}
  
.skills-row__list {
  display: flex;
  flex-wrap: wrap;
  @include phonesmax {
    justify-content: center;
    width: 237px;
  }
}