.socials__icon {
    width: 25px;
    height: 25px;
    opacity: 0.4;
    fill: $white;
    transition: $transition;
    &:hover {
        fill: $active;
        opacity: 1;
    }
}

.socials {
    display: flex;
    min-width: 50px;
    justify-content: space-between;
}