.socials__icon {
    width: 25px;
    height: 25px;
    opacity: 0.4;
    fill: #ffffff;
    &:hover {
        fill: #ff9a00;
        opacity: 1;
    }
}

.socials {
    display: flex;
    min-width: 50px;
    justify-content: space-between;
}