.user-info__desc {
    opacity: 0.4;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: right;
    position: absolute;
    left: -40%;
}

.user-info__name {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 72px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}