.welcome-section {
    position: relative;
    background-color: #1c2023;
    height: 1451px;
    width: 100%;

    @include tablets {
        height: 1400px;
    }
    
    @include phonesmax {
        height: 1600px;
    }
}