section.developer#developer
  .container.developer__container
    .developer__content
      h1.developer__desc Личный сайт <br>веб разработчика
      h2.developer__name Екатерина <br>Корнилова
    .developer__buttons
      include ./scroll