section.developer#developer
  .container.container__developer
    .developer__content
        .user-info
            h1.user-info__desc Личный сайт <br>веб разработчика
            h2.user-info__name Екатерина <br>Корнилова
    .developer__buttons
        a.scroll-btn Скролл
        +icon('scroll', "scroll-icn")