<div class="hamburgermenu" id="menu-hamburger">
  <a href="#" class="mobile-nav" id="nav-mobile">
    +image('content/3-layers.png', 'pic', '', 'presentation')
  </a>
  <div class="mobilemenu" id="menu-mobile">
    <a href="#" class="mobile-close" id="nav-close">
      +image('content/Rounded_Rectangle_1.png', 'pic', '', 'presentation')
    </a>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__elem">
        <a href="#" class="mobile-menu__link">Главная</a>
      </li>
      <li class="mobile-menu__elem">
        <a href="#" class="mobile-menu__link">Обо мне</a>
      </li>
      <li class="mobile-menu__elem">
        <a href="#" class="mobile-menu__link">Навыки</a>
      </li>
      <li class="mobile-menu__elem">
        <a href="#" class="mobile-menu__link">Работы</a>
      </li>
      <li class="mobile-menu__elem">
        <a href="#" class="mobile-menu__link">Отзывы</a>
      </li>
      <li class="mobile-menu__elem">
        <a href="#" class="mobile-menu__link">Связаться</a>
      </li>
    </ul>
  </div>
</div>