header.header
        .container.container__header 
          .header__logo
            .logo ЕК
          .header__menu
            include ./menu.pug
          .header__socials 
            include ./socials.pug
            +socials("header")