section.help#help-section
  .container.help__container
    .help__desc
      h3.help__title Чем я могу быть полезна вам
      p.help__study Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    include ./skills