.parallax-welcome
    +image('content/mountains.png', 'paralax-welcome__mountains', '', 'presentation')
    +image('content/train.png', 'paralax-welcome__train', '', 'presentation')
    +image('content/grass.png', 'paralax-welcome__grass', '', 'presentation')
    +image('content/shadow.png', 'paralax-welcome__shadow', '', 'presentation')
    +image('content/black.png', 'paralax-welcome__black', '', 'presentation')