.parallax-welcome
    .paralax-welcome__element.paralax-welcome__element--mountains
        +image("content/mountains.png", "paralax__image", "", "presentation")
    .paralax-welcome__element.paralax-welcome__element--train
        +image("content/train.png", "paralax__image", "", "presentation")
    .paralax-welcome__element.paralax-welcome__element--grass
        +image("content/grass.png", "paralax__image", "", "presentation")
    .paralax-welcome__element.paralax-welcome__element--shadow
        +image("content/shadow.png", "paralax__image", "", "presentation")
    .paralax-welcome__element.paralax-welcome__element--black
        +image("content/black.png", "paralax__image", "", "presentation")