.parallax
    +image('content/mountains.png', 'paralax__mountains')
    +image('content/train.png', 'paralax__train')
    +image('content/grass.png', 'paralax__grass')
    +image('content/shadow.png', 'paralax__shadow')
    +image('content/black.png', 'paralax__black')