.parallax-general
  +image('content/autumn.png', 'paralax-general__autumn', '', 'presentation')
  +image('content/shadow-talk.png', 'paralax-general__shadow2', '', 'presentation')
  +image('content/sheet1.png', 'paralax-general__sheet1', '', 'presentation')
  +image('content/sheet2.png', 'paralax-general__sheet2', '', 'presentation')
  +image('content/sheet3.png', 'paralax-general__sheet3', '', 'presentation')
  +image('content/sheet4.png', 'paralax-general__sheet4', '', 'presentation')