.parallax-welcome
    .parallax-welcome__element(data-speed="0.1")
        +image("content/sky.png", "parallax__image", "", "presentation")
    .parallax-welcome__element(data-speed="0.25")
        +image("content/mountains.png", "parallax__image", "", "presentation")
    .parallax-welcome__element(data-speed="0.35")
        +image("content/train.png", "parallax__image", "", "presentation")
    .parallax-welcome__element(data-speed="0.38")
        +image("content/grass.png", "parallax__image", "", "presentation")
    .parallax-welcome__element(data-speed="0.45")
        +image("content/shadow.png", "parallax__image", "", "presentation")
    .parallax-welcome__element(data-speed="0.45")
        +image("content/black.png", "parallax__image", "", "presentation")