.parallax
  +image('content/autumn.png', 'paralax__autumn')
  +image('content/shadow-talk.png', 'paralax__shadow2')
  +image('content/sheet1.png', 'paralax__sheet1')
  +image('content/sheet2.png', 'paralax__sheet2')
  +image('content/sheet3.png', 'paralax__sheet3')
  +image('content/sheet4.png', 'paralax__sheet4')