.skills
  .skills__front-end
    h4.skills__title Front-end
    ul.skills__list
      +skills("skills__item", "HTML5")
      +skills("skills__item", "CSS3")
      +skills("skills__item", "Javascript")
      +skills("skills__item", "Jquery и Vue.js")
  .skills__workflow
    h4.skills__title Workflow
    ul.skills__list
      +skills("skills__item", "GIT")
      +skills("skills__item", "Terminal")
      +skills("skills__item", "Gulp")
      +skills("skills__item", "Webpack")