include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .main
        include ./pages/header
        .welcome-section
          include ./pages/parallax-welcome
          include ./pages/developer
          include ./pages/about 
        include ./pages/help
        include ./pages/mywork
        .general-section
          include ./pages/parallax-general
          include ./pages/information
          include ./pages/mail
        include ./pages/footer
